body{
    background-color: #131313;
    color: white;
}
tbody{
    color: white;
}
.container {
    display: flex;
}

.child {
    text-align: center;
    flex: 1;
    display: flex;
    flex-flow: column;

}  

.raport{
    padding: 10px;
    margin: 10px;
    background-color: #8E2828;
    margin-bottom: 10px;
}

.data{
    margin: 10px;
    padding: 10px;
    background-color: #8E2828;
    height: 100%;
}

.table{
    width: 100%;
}

.smth{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #8E2828;
}