:root {
    --red: #8E2828; 
    --dark_grey: #131313;
    --green: #006230;
    --yellow: #e39118;
    --blue: #262261;
}

body{
    background-color: var(--dark_grey);
    color: white;
}
tbody{
    color: white;
}
.container {
    display: flex;
}

.child {
    text-align: center;
    flex: 1;
    display: flex;
    flex-flow: column;
}  

.raport{
    padding: 10px;
    margin: 10px;
    background-color: var(--blue);
}

.data{
    margin: 10px;
    padding: 10px;
    background-color: var(--blue);
    height: 100%;
}

.table{
    width: 100%;
}

.main{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--yellow);
}
.value{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--green);
}

.no-value
{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--red);
}

.text-data
{
    color: var(--yellow)
}

.name{
    color: var(--drak-blue)
}

a{
    color: #e3911880;
    text-decoration: none;
}
a:hover{
    color: #e3911899;
}
.footer{
    background-color: var(--blue);
    padding: 10px;
    text-align: center;
}